html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(85, 38, 85);

  }
nav {
      font-size: 50px;
  }
  a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: white;
    text-shadow: 3px 3px 1p white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(85, 38, 85);
  }
  
  li {
    background-color: rgb(85, 38, 85);
    float: left;
    display: block;
    padding: 8px;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: rgb(85, 38, 85);
  }
  
  p, li {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
  }
  
  body {
    background-color: rgb(40, 40, 116);
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
